.footer {
    margin-top: 65px ;
    background-color: #029491;
    
}
.footerWrapper {
    width: 96vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.footerInfo {
    text-align: flex-end;
    margin-top: 27px;
    color: white;
    text-align: right;
}
.LogoFooter {
    margin-left: 30px;
    margin-top: 20px;
}
.p {
    margin-top: 20px;
}